; IBMDVORK.CNF
; Dvorak layout for Win.3.1 TeraTerm on IBM-PC/AT 101-key keyboard. 
; 1996-07-24  <shuford@cs.utk.edu>
; See KEYCODE.TXT for the description of the format.
;
[VT editor keypad]
;Up arrow key
Up=328
;Down arrow key
Down=336
;Right arrow key
Right=333
;Left arrow key
Left=331
;End key
Find=335
;Insert key
Insert=338
;Delete key
Remove=339
;Home key
Select=327
;PageUp key
Prev=329
;PageDown key
Next=337

[VT numeric keypad]
;Num pad 0 key
Num0=82
;Num pad 1 key
Num1=79
;Num pad 2 key
Num2=80
;Num pad 3 key
Num3=81
;Num pad 4 key
Num4=75
;Num pad 5 key
Num5=76
;Num pad 6 key
Num6=77
;Num pad 7 key
Num7=71
;Num pad 8 key
Num8=72
;Num pad 9 key
Num9=73
;Cntrl + Num pad '+' key
NumMinus=1102
;Num pad '+' key
NumComma=78
;Num pad '.' key
NumPeriod=83
;Num pad Enter key
NumEnter=284
;Num pad NumLock key
PF1=325
;Num pad '/' key
PF2=309
;Num pad '*' key
PF3=55
;Num pad '-' key
PF4=74

[VT function keys]
;F6 key
F6=64
;F7 key
F7=65
;F8 key
F8=66
;F9 key
F9=67
;F10 key
F10=68
;F11 key
F11=87
;F12 key
F12=88
;Shift + F3 key
F13=573
;Shift + F4 key
F14=574
;Shift + F5 key
Help=575
;Shift + F6 key
Do=576
;Shift + F7 key
F17=577
;Shift + F8 key
F18=578
;Shift + F9 key
F19=579
;Shift + F10 key
F20=580

[Shortcut keys]
EditCopy=off
EditPaste=off
EditPasteCR=off
; Ctrl + up-arrow
LineUp=1352
; Ctrl + down-arrow
LineDown=1360
; Ctrl + PageUp
PageUp=1353
; Ctrl + PageDown
PageDown=1361
; Ctrl + Home
BuffTop=1351
; Ctrl + End
BuffBottom=1359
SendBreak=off

[User keys]
;Example of user key definitions.
;
;	F1 key: character string
;User1=59,0,telnet myhost
;
;	F2 key: control characters
;User2=60,0,$0D$0A
;
;	F3 key: CR character with new-line code conversion (CR -> CR/CR+LF)
;User3=61,1,$0D
;
; -------------------------
; DVORAK TRANSLATION BEGINS
; -------------------------
;  2nd (home) alpha row
;
User1= 30,0,a
User2=542,0,A
;
User3= 31,0,o
User4=543,0,O
;
User5= 32,0,e
User6=544,0,E
;
User7= 33,0,u
User8=545,0,U
;
User9= 34,0,i
User10=546,0,I
;
User11= 35,0,d
User12=547,0,D
;
User13= 36,0,h
User14=548,0,H
;
User15= 37,0,t
User16=549,0,T
;
User17= 38,0,n
User18=550,0,N
;
User19= 39,0,s
User20=551,0,S
;
User21= 40,0,-
User22=552,0,_
;
; 3rd alpha row
;
User23= 16,0,'
User24=528,0,"
;                comma
User25= 17,0,$2C
User26=529,0,<
;
User27= 18,0,.
User28=530,0,>
;
User29= 19,0,p
User30=531,0,P
;
User31= 20,0,y
User32=532,0,Y
;
User33= 21,0,f
User34=533,0,F
;
User35= 22,0,g
User36=534,0,G
;
User37= 23,0,c
User38=535,0,C
;
User39= 24,0,r
User40=536,0,R
;
User41= 25,0,l
User42=537,0,L
;
User43= 26,0,/
User44=538,0,?
;              ]} stay put
;
User45= 43,0,[
User46=555,0,{
;
; 1st alpha row
;
User47= 44,0,;
User48=556,0,:
;
User49= 45,0,q
User50=557,0,Q
;
User51= 46,0,j
User52=558,0,J
;
User53= 47,0,k
User54=559,0,K
;
User55= 48,0,x
User56=560,0,X
;
User57= 49,0,b
User58=561,0,B
;
User59= 50,0,m
User60=562,0,M
;
User61= 51,0,w
User62=563,0,W
;
User63= 52,0,v
User64=564,0,V
;
User65= 53,0,z
User66=565,0,Z
;
; remaining punctuation
;
User67= 12,0,\
User68=524,0,|
;
; -------------------------
; END OF DVORAK TRANSLATION
; -------------------------
;
; set delete/backspace as option
; User69= 14,0,$7F
;
;  Control keys in QWERTY layout
;
User70=1054,0,$01  ; ^a
User71=1055,0,$13  ; ^s
User72=1056,0,$04  ; ^d
User73=1057,0,$06  ; ^f
User74=1058,0,$07  ; ^g
User75=1059,0,$08  ; ^h
User76=1060,0,$0A  ; ^j
User77=1061,0,$0B  ; ^k
User78=1062,0,$0C  ; ^l
;a
User79=1040,0,$11  ; ^q
User80=1041,0,$17  ; ^w
User81=1042,0,$05  ; ^e
User82=1043,0,$12  ; ^r
User83=1044,0,$14  ; ^t
User84=1045,0,$19  ; ^y
User85=1046,0,$15  ; ^u
User86=1047,0,$09  ; ^i
User87=1048,0,$0F  ; ^o
User88=1049,0,$10  ; ^p
User89=1050,0,$1B  ; ESC
User90=1051,0,$1D  ; GS
User90=1052,0,$1C  ; FS
;
User91=1068,0,$1A  ; ^z
User92=1069,0,$18  ; ^x
User93=1070,0,$03  ; ^c
User94=1071,0,$03  ; ^v
User95=1072,0,$03  ; ^b
User96=1073,0,$03  ; ^n
User97=1074,0,$03  ; ^m
;
User98=1027,0,$00  ; ^@
;
; User99=1076,0,$03  ; ??
;
; -----------------------------------

